# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
# Useful .gitignore templates: https://github.com/github/gitignore
node_modules
dist
.idea/
src/js/tmp/
log.json
TODO
*.css.map
*main.css

# все из статики, кроме фотки на главной странице, подтягивается по глобальным ссылкам. В гите этих файлов нет и не будет
# фотка залита сюда, и для нее указывается локальный путь, для ускорения загрузки
# поэтому вся статика в игноре, кроме этой фотки
src/static
!src/static/team.jpg

