.c_fs-5 {
  font-size: 1.25rem;
}

@media (min-width: 991px) {
  .c_fs-lg-4 {
    font-size: 1.5rem !important;
  }
}


@media (max-width: 991px) {
  .c_border-top {
    border-top: 1px solid #f1f1f170;
  }
}
