@use "normalize";
@use "preset";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

$baseColor: #ff6000;
$headerColor: #373A3C;
$headerLogoSize: 1.5rem;

* {
  font-family: 'Montserrat', sans-serif;
}

.base_color {
  color: $baseColor;
}

h2 {
  color: $headerColor;
}

header {
  background: $baseColor;

  .logo {
    max-width: 2.5rem;
  }

  a {
    font-weight: 500 !important;
  }

  .icon-rutube {
    background: url("/img/icon-rutube.svg") center center no-repeat;
    background-size: cover;
    width: $headerLogoSize;
    height: $headerLogoSize;
  }

  i {
    color: #ffffff;
    font-size: $headerLogoSize;
  }
}

.preview_photo {
  background: url("/static/team.jpg") center center no-repeat;
  background-size: cover;

  * {
    font-weight: bold;
    font-size: 7rem;
  }

  @media (max-width: 768px) {
    h1 {
      font-size: 4rem;
    }
  }


  i:hover {
    text-shadow: #cecece 0 4px 6px !important;
  }
}

.events {
  #carouselExampleCaptions {
    max-width: 70% !important;
  }

  .carousel-inner {
    p {
      font-weight: bold;
      font-size: 3rem;
      color: $baseColor;
    }
  }
}

.news,
.partners,
.events-block,
.notes,
.partners-page {
  .btn-outline-primary:hover {
    color: #fff;
    background-color: $baseColor;
    border-color: $baseColor;
  }

  .btn-outline-primary {
    color: $baseColor;
    border-color: $baseColor;
  }

  .btn-primary {
    background-color: $baseColor;
    border-color: $baseColor;
  }

  .btn-primary:hover {
    background-color: #de5500 !important;
    border-color: $baseColor;
  }

  .btn-primary:active,
  .btn-primary:focus {
    background-color: $baseColor;
    border-color: $baseColor;
  }

  .form-control:active,
  .form-control:focus,
  .btn:active,
  .btn:focus {
    box-shadow: 0 0 0 .25rem rgba(255, 139, 71, 0.53);

  }
}

.team {
  img {
    max-width: 10rem;
    max-height: 10rem;
    margin-bottom: 1rem;
  }

  a {
    color: $baseColor;
    text-decoration: none !important;
    font-weight: bold;
  }

  a:hover {
    color: $baseColor !important;
    text-decoration: underline !important;
  }

  .elin {
    font-weight: bolder;
  }

  i {
    font-size: 2rem;
    padding-right: .5rem;
    color: $baseColor !important;
  }
}

footer {
  .footer-links a {
    text-decoration: none !important;
  }

  .footer-logos img {
    width: 4rem;
    height: auto;
    margin: 0 25px;
  }
}

#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;

  background-color: #FF510081;
  border-color: white;
}

#btn-back-to-top:hover {
  color: #fff;
  background-color: $baseColor;
  border-color: #FF5100FF;
}

.article-aside {
  a:hover {
    text-decoration: underline !important;
  }
}

.link-main {
  color: $baseColor;
  text-decoration: none;
}

.link-main:hover {
  color: $baseColor !important;
  text-decoration: underline;
}

.info-cont div:nth-child(1) {
  background-image: url("/img/info-1-bg.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-clip: padding-box;
  background-size: auto;
}

.info-cont div:nth-child(2) {
  background-image: url("/img/info-2-bg.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-clip: padding-box;
  background-size: auto;
}

.info-cont div:nth-child(3) {
  background-image: url("/img/info-3-bg.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-clip: padding-box;
  background-size: auto;
}

.carousel-inner a {
  font-size: inherit !important;
  font-weight: inherit !important;
  text-decoration: inherit !important;
  color: inherit !important;
}

.carousel-inner a:hover {
  font-size: inherit !important;
  font-weight: inherit !important;
  text-decoration: underline !important;
  color: inherit !important;
}

.news div.row {
  margin: 1.5rem auto;
}


.page-link {
  color: $baseColor !important;
}

.active .page-link {
  color: white !important;
  background-color: $baseColor !important;
  border-color: $baseColor !important;
}

.disabled .page-link {
  color: #6c757d !important;
}

.event-info a {
  text-decoration: none !important;
  color: $baseColor !important;
}

.event-info a:hover {
  text-decoration: underline !important;
}

#carouselNotesCaptions {
  max-width: 70% !important;
}

img.img-darkness {
  filter: brightness(40%) !important;
}

.list-students {
  list-style-type: "✔️️";

  li {
    padding-left: .5rem;
    margin-bottom: .5rem;
  }
}

#firstAlertCont {
  top: 50%;
}
