<!-- сгенерил тут: https://wweb.dev/resources/animated-css-background-generator -->

<style>
  @keyframes animate {
    0% {
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
    }
    100% {
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
    }
  }

  .background {
    z-index: -1;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: rgba(78, 84, 200, 0);
    overflow: hidden;
  }

  .background li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 96, 0, 0.28);
    animation: animate 15s linear infinite;
  }


  .background li:nth-child(0) {
    left: 58%;
    width: 195px;
    height: 195px;
    bottom: -195px;
    animation-delay: 0.5s;
  }

  .background li:nth-child(1) {
    left: 7%;
    width: 175px;
    height: 175px;
    bottom: -175px;
    animation-delay: 1s;
  }

  .background li:nth-child(2) {
    left: 79%;
    width: 136px;
    height: 136px;
    bottom: -136px;
    animation-delay: 2s;
  }

  .background li:nth-child(3) {
    left: 61%;
    width: 208px;
    height: 208px;
    bottom: -208px;
    animation-delay: 3s;
  }

  .background li:nth-child(4) {
    left: 4%;
    width: 146px;
    height: 146px;
    bottom: -146px;
    animation-delay: 16s;
  }

  .background li:nth-child(5) {
    left: 51%;
    width: 195px;
    height: 195px;
    bottom: -195px;
    animation-delay: 11s;
  }

  .background li:nth-child(6) {
    left: 18%;
    width: 143px;
    height: 143px;
    bottom: -143px;
    animation-delay: 26s;
  }

  .background li:nth-child(7) {
    left: 62%;
    width: 119px;
    height: 119px;
    bottom: -119px;
    animation-delay: 28s;
  }

  .background li:nth-child(8) {
    left: 30%;
    width: 195px;
    height: 195px;
    bottom: -195px;
    animation-delay: 34s;
  }

  .background li:nth-child(9) {
    left: 24%;
    width: 108px;
    height: 108px;
    bottom: -108px;
    animation-delay: 7s;
  }

  .background li:nth-child(10) {
    left: 9%;
    width: 116px;
    height: 116px;
    bottom: -116px;
    animation-delay: 1s;
  }

  .background li:nth-child(11) {
    left: 11%;
    width: 160px;
    height: 160px;
    bottom: -160px;
    animation-delay: 6s;
  }

  .background li:nth-child(12) {
    left: 36%;
    width: 162px;
    height: 162px;
    bottom: -162px;
    animation-delay: 44s;
  }

  .background li:nth-child(13) {
    left: 32%;
    width: 211px;
    height: 211px;
    bottom: -211px;
    animation-delay: 11s;
  }

  .background li:nth-child(14) {
    left: 44%;
    width: 214px;
    height: 214px;
    bottom: -214px;
    animation-delay: 12s;
  }

  .background li:nth-child(15) {
    left: 56%;
    width: 114px;
    height: 114px;
    bottom: -114px;
    animation-delay: 6s;
  }

  .background li:nth-child(16) {
    left: 29%;
    width: 143px;
    height: 143px;
    bottom: -143px;
    animation-delay: 42s;
  }

  .background li:nth-child(17) {
    left: 21%;
    width: 214px;
    height: 214px;
    bottom: -214px;
    animation-delay: 37s;
  }

  .background li:nth-child(18) {
    left: 70%;
    width: 182px;
    height: 182px;
    bottom: -182px;
    animation-delay: 76s;
  }

  .background li:nth-child(19) {
    left: 61%;
    width: 155px;
    height: 155px;
    bottom: -155px;
    animation-delay: 86s;
  }

  .background li:nth-child(20) {
    left: 40%;
    width: 123px;
    height: 123px;
    bottom: -123px;
    animation-delay: 51s;
  }

  .background li:nth-child(21) {
    left: 23%;
    width: 110px;
    height: 110px;
    bottom: -110px;
    animation-delay: 75s;
  }

  .background li:nth-child(22) {
    left: 47%;
    width: 155px;
    height: 155px;
    bottom: -155px;
    animation-delay: 73s;
  }

  .background li:nth-child(23) {
    left: 18%;
    width: 120px;
    height: 120px;
    bottom: -120px;
    animation-delay: 71s;
  }

  .background li:nth-child(24) {
    left: 13%;
    width: 136px;
    height: 136px;
    bottom: -136px;
    animation-delay: 13s;
  }

  .background li:nth-child(25) {
    left: 62%;
    width: 198px;
    height: 198px;
    bottom: -198px;
    animation-delay: 40s;
  }

  .background li:nth-child(26) {
    left: 6%;
    width: 136px;
    height: 136px;
    bottom: -136px;
    animation-delay: 84s;
  }

  .background li:nth-child(27) {
    left: 23%;
    width: 111px;
    height: 111px;
    bottom: -111px;
    animation-delay: 84s;
  }

  .background li:nth-child(28) {
    left: 50%;
    width: 145px;
    height: 145px;
    bottom: -145px;
    animation-delay: 98s;
  }

  .background li:nth-child(29) {
    left: 71%;
    width: 168px;
    height: 168px;
    bottom: -168px;
    animation-delay: 17s;
  }
</style>


<ul class="background">
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>
