<footer class="container-fluid bg-dark p-xl-3">

  <ul class="nav justify-content-center border-bottom pb-3 mb-3">
    <li class="nav-item"><a href="index.html" class="nav-link px-2 text-muted">Главная</a></li>
    <li class="nav-item"><a href="index.html#contacts" class="nav-link px-2 text-muted">Контакты</a></li>
    <li class="nav-item"><a href="index.html#partners" class="nav-link px-2 text-muted">Партнеры</a></li>
    <li class="nav-item"><a href="index.html#about" class="nav-link px-2 text-muted">О нас</a></li>
  </ul>
  <div class="d-flex justify-content-center">
    <p class="text-center text-muted px-3">Мы <3 <a href="https://github.com/dan-sazonov/pb2" class="link-secondary">open-source</a>
    </p>
    <p class="text-center text-muted px-3">Разработка и поддержка: <a href="https://vk.com/dan_sazonov"
                                                                      class="link-secondary">Dan Sazonov</a></p>
    <p class="text-center text-muted px-3">© 2023 ПБ2</p>
  </div>
</footer>
