<button
  type="button"
  class="btn btn-secondary btn-floating btn-lg"
  id="btn-back-to-top"
>
  <i class="fas fa-arrow-up"></i>
</button>

<footer class="container-fluid bg-dark pt-5 p-3 mt-5">

  <div class="container d-flex justify-content-center footer-logos mb-4">
    <img src="/img/logo_wo_bg.png" alt="Логотип профбюро 2">
    <img src="/img/logo_profcom_white.png" alt="Логотип профкома ГУАП">
  </div>

  <div class="container d-flex justify-content-evenly border-bottom mb-3 pb-2 footer-links">
    <div class="d-flex flex-column align-items-center">
      <a class="text-muted" href="/index.html">Главная</a>
      <a class="text-muted" href="/news.html">Новости</a>
      <a class="text-muted" href="/events.html">Мероприятия</a>
      <a class="text-muted" href="/notes.html">Памятка первокурсника</a>
      <a class="text-muted" href="/partners.html">Партнеры</a>
      <a class="text-muted" href="/team.html">Наша команда</a>
    </div>

    <div class="d-flex flex-column align-items-center">
      <a class="text-muted" target="_blank" href="https://vk.com/profburo2_guap">ПБ2: ВК</a>
      <a class="text-muted" target="_blank" href="">ПБ2: Рутуб</a>
    </div>

    <div class="d-flex flex-column align-items-center">
      <a class="text-muted" target="_blank" href="https://guap.ru/">ГУАП</a>
      <a class="text-muted" target="_blank" href="https://vk.com/guap_ru">ГУАП: ВК</a>
      <a class="text-muted" target="_blank" href="https://vk.com/ppos_guap">Профком ГУАП: ВК</a>
    </div>
  </div>

  <div class="d-flex justify-content-center">
    <p class="text-center text-muted px-3">Мы <3 <a href="https://github.com/dan-sazonov/pb2" class="link-secondary" target="_blank">open-source</a>
    </p>
    <p class="text-center text-muted px-3">Разработка и поддержка: <a href="https://vk.com/dan_sazonov"
                                                                      class="link-secondary">Dan Sazonov</a></p>
    <p class="text-center text-muted px-3">© 2023 ПБ2</p>
  </div>

</footer>
