<header class="container-fluid px-xxl-5">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">

      <a class="navbar-brand" href="index.html"><img src="/img/logo_wo_bg.png" alt="Логотип ПБ2" class="logo"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Переключатель навигации">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-around" id="navbarSupportedContent">
        <ul class="navbar-nav mb-2 mb-lg-0 text-uppercase">

          <li class="nav-item me-xxl-4">
            <a class="nav-link text-light" href="events.html">Мероприятия</a>
          </li>

          <li class="nav-item me-xxl-4">
            <a class="nav-link text-light" href="news.html">Новости</a>
          </li>

          <li class="nav-item me-xxl-4">
            <a class="nav-link text-light" href="partners.html">Партнеры</a>
          </li>

          <li class="nav-item me-xxl-4">
            <a class="nav-link text-light" href="team.html">Команда</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-light" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Будь в курсе</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="notes.html">Обзоры</a></li>
              <li><a class="dropdown-item" href="notes.html#tips">Памятка первокурсника</a></li>
              <li><a class="dropdown-item" href="notes.html#finance">Матпомощь</a></li>
            </ul>
          </li>

        </ul>
      </div>

      <i class="icon-rutube"></i>
      <i class="fa-brands fa-vk mx-3"></i>

    </div>
  </nav>
</header>
