<header class="container-fluid px-xxl-5">
  <nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">

      <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Переключатель навигации"
        class="navbar-toggler" data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
      </button>

      <a class="navbar-brand" href="/index.html"><img alt="Логотип ПБ2" class="logo" src="/img/logo_wo_bg.png"></a>

      <div class="d-flex order-lg-last">
        <a class="icon-rutube mx-sm-3 mx-2" href="" target="_blank"></a>
        <a href="https://vk.com/profburo2_guap" target="_blank"><i class="fa-brands fa-vk mx-sm-3 mx-2"></i></a>
      </div>

      <div class="collapse navbar-collapse justify-content-around c_border-top-tolg mt-2 mt-md-0" id="navbarSupportedContent">
        <ul class="navbar-nav mb-2 mb-lg-0 text-uppercase">

          <li class="nav-item me-xl-4">
            <a class="nav-link text-light" href="/events.html">Мероприятия</a>
          </li>

          <li class="nav-item me-xl-4">
            <a class="nav-link text-light" href="/news.html">Новости</a>
          </li>

          <li class="nav-item me-xl-4">
            <a class="nav-link text-light" href="/partners.html">Партнеры</a>
          </li>

          <li class="nav-item me-xl-4">
            <a class="nav-link text-light" href="/team.html">Команда</a>
          </li>

          <li class="nav-item dropdown">
            <a aria-expanded="false" class="nav-link dropdown-toggle text-light" data-bs-toggle="dropdown" href="#"
              role="button">Будь в курсе</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/notes.html">Обзоры</a></li>
              <li><a class="dropdown-item" href="/notes.html#tips">Памятка первокурсника</a></li>
              <li><a class="dropdown-item" href="/notes.html#finance">Матпомощь</a></li>
            </ul>
          </li>

        </ul>
      </div>

    </div>
  </nav>
</header>
